---
import { SectionTaskList, Task } from "../../utils/groqQueries";
import ItemTask from "./item_task.astro";

export interface Props {
  section: SectionTaskList;
}

const alternatingClassNames = ["task-odd", "task-even"]; // Per https://stackoverflow.com/a/45467474
const tasks: Task[] | null | undefined = Astro.props.section?.accomplishments;
---

<div class="task-list">
  {
    tasks?.map((taskToDo, index) => (
      <ItemTask
        taskDetail={taskToDo}
        alternatingClassName={
          alternatingClassNames[index % alternatingClassNames.length]
        }
      />
    ))
  }
</div>
