---
import { SectionBlue } from "../../utils/groqQueries";

export interface Props {
  section: SectionBlue;
}
---

<style>
  .blue-div {
    background-color: #1e88e5;
    color: white;
  }
</style>

<div class="blue-div">
  {Astro.props.section.mention}
</div>
